*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--background-light);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root{
    --background-light: hsl(248, 100%, 98%); /* Light gray for body */
    --color-light-for-text: hsl(213, 92%, 41%); /* Light gray for body */
    --background-light-for-text: hsl(210, 2%, 49%); /* Light gray for text */
}
/* found section */
#found{
    background-color: transparent;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foundcontianer{
    background-color: transparent;
    width: 280px;
    text-align: center;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.foundcontianer h1{
    color: rgba(0, 0, 0, 0.336);
    font-size: 1.4em;
    font-weight: 600;
}
.foundlogo{
    margin-bottom: 10px;
    background-color: rgb(0, 88, 190);
    color: white;
    display: inline-block;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    box-shadow: 2px 7px 5px -5px rgb(154, 154, 243);
}
#terminal-icon{
    transform: translateY(10px) scale(1.4);
}
.foundcard{
    margin-top: 20px;
    border: 3px solid rgb(157, 174, 233);
    background-color: transparent;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    position: relative;
    margin-bottom: 40px;
}
.foundcard::before{
    border: 3px solid rgb(0, 88, 190);
    content: '';
    border-top-color: transparent;
    border-left-color: transparent;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    bottom: 0;
    left: -3px;
    top: -3px;
    animation: spinner 0.7s ease-in-out infinite ;
}
@keyframes spinner {
    100%{
        transform: rotate(360deg);
    }
}
#query-icon{
    transform: translateY(42px) translateX(1px) scale(2);
    color:  rgb(157, 174, 233);
}
.foundcontianer h5{
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.63);
    margin-bottom: 15px;
}
.foundcontianer h5::after{
    content: '';
    animation: load 2s ease-in-out infinite ;
}
@keyframes load {
    25%{
        content: '.';
    }
    50%{
        content: '..';
    }    
    100%{
        content: '...';
    }
}
.foundcontianer p{
    font-size: 0.99em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.699);
}

/* not found section */
#notfound{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notfound-heading-card{
    text-align: center;
}
.notfound-profile{
    box-shadow: 1px 1px 10px 1px rgb(235, 232, 232),
                1px 1px 10px 1px rgb(235, 232, 232),
               1px 1px 10px 1px rgb(235, 232, 232);
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    background-color: white;
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
}
.notfound-state{
    color: rgba(0, 0, 0, 0.836);
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.notfound-bio{
    color: rgba(0, 0, 0, 0.836);
    font-weight: 500;
    font-size: 20px;
    max-width: 480px;
    margin-bottom: 50px;
}
.notfound-btn{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.notfound-btn button{
    cursor: pointer;
    height: 50px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background-color: hsl(213, 92%, 41%);
    width: 100px;
    transition: all 0.2s ease-in-out;
}
.notfound-btn button:first-child:hover{
    background-color: hsl(213, 89%, 30%);
}
.notfound-btn button:active{
    transform: scale(0.9);
}
.notfound-btn button:last-child{
    background-color: hsla(212, 45%, 62%, 0.397);
    width: 200px;
}
.notfound-btn button:last-child:hover{
    background-color:  hsla(212, 45%, 62%, 0.856);
}
.notfound-issues{
    margin: 15x;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.notfound-issues-div{
    display: flex;
    background-color: hsla(235, 77%, 92%, 0.5);
    max-width: 450px;
    height: 80px;
    padding: 20px;
    border-radius: 25px;
    gap: 14px;
}
.notfound-issues-div:hover{
    background-color: hsl(240, 49%, 89%);
}
.notfound-issues-child{
    border-radius: 9px;
    width: 40px;
    height: 48px;
    background-color: white;
}
.notfound-api-bio{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.notfound-api-bio div:first-child{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.699);
}
.notfound-api-bio div:last-child{
    font-size: 16=7px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.692);
}
#person_search_icon{
    font-size: 3.2rem;
    color: brown;
    transform: translatey(38px);
}
#database-icon{
    color: brown;
    transform: translatey(8px); 
    padding: 5px;  
}








@media screen and (max-width: 410px){
    .notfound-issues-div{
        max-width: 250px;
    }
    .notfound-btn{
        flex-direction: column;
    }
    .notfound-btn button{
        width: 100%;
    }
}