*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(222, 55%, 10%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

:root{

    --dark-mode-light-white: hsl(228, 20%, 80%); /* Light gray for body */
    --dark-mode-searchbox-color:hsl(222, 68%, 7%); /* Light gray for body */
    --dark-mode-searchbox-shadow: hsl(221, 53%, 12%); /* Light gray for body */
    --dark-mode-searchbox-shadow-focus: hsl(220, 53%, 26%); /* Light gray for body */
    --dark-mode-dull-white: hsl(215, 20%, 32%); /* dull white for text */
    --dark-mode: hsl(248, 100%, 98%); /* Light gray for body */
    --dark-mode: hsl(248, 100%, 98%); /* Light gray for body */
    --dark-mode: hsl(248, 100%, 98%); /* Light gray for body */
    --dark-mode: hsl(248, 100%, 98%); /* Light gray for body */
    --dark-mode: hsl(248, 100%, 98%); /* Light gray for body */
}
.search-section{
    margin-bottom: 50px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    text-align: center;
    color: white;
}
.search-section h1{
    font-size: 5em;
    line-height: 0.9;
    margin-bottom: 30px;
}
.search-section h1 span{
    background: linear-gradient( to right, rgb(162, 200, 254), hsl(213, 76%, 61%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search-section-bio{
    display: inline-block;
    font-size: 23px;
    color: var(--dark-mode-light-white);
    max-width: 700px;
    margin-bottom: 50px;
}
.searchbox{
    align-items: center;
    background-color: transparent;
    justify-content: center;
    /* max-width: 600px !important; */ 
    transition: all 2s ease-in-out;

}
.search-section-searchbox{
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    background-color:var(--dark-mode-searchbox-color);
    max-width: 600px;
    height: 80px;
    box-shadow: 0px 0px 10px 4px  var(--dark-mode-searchbox-shadow);
    margin-bottom: 12px;
}
.search-section-searchbox:focus-within{
    box-shadow: 0px 0px 10px 4px  var(--dark-mode-searchbox-shadow-focus);
}
.search-section-searchbox input{
    border-radius: 20px;
    height: inherit;
    font-size: 17px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    flex: 1;
    width: fit-content;
    max-width: 700px;
    border: none;
    outline: none;
}
.search-section-searchbox ::-webkit-input-placeholder{
    color: var(--dark-mode-dull-white);
}
.search-section-searchbox button{
    cursor: pointer;
    background: linear-gradient( to right, rgb(162, 200, 254), hsl(213, 76%, 61%));
    border-radius: 10px;
    min-width: 120px;
    height: 60px;
    font-size: 1.2em;
    margin: 10px;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-in-out;
}
.search-section-searchbox button:hover{
    box-shadow: 1px 1px 1px 1px hsl(213, 76%, 61%),
                1px 1px 5px 1px hsl(213, 76%, 61%);
}
.search-section-searchbox button:active{
    transform: scale(0.8);
}
.search-section-fact{
    display: inline-block;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: var(--dark-mode-dull-white);
    font-size: 17px;
}
.repoandlang{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.repo-icon{
    width: 20px;
    height: 20px;
}
.repository-parent{
    height: 400px;
    max-width: 450px;
    background-color: hsl(223, 38%, 15%);
}
.language-parent{
    max-width: 700px;
    flex: 1;
    min-width: 400px;
    height: 400px;
    background-color: hsl(223, 100%, 43%);
} 